.cart-title {
    margin-top: 116px;
    .cart-title-content {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.cart-outer {
    display: flex;
    justify-content: space-between;
    .cart-left {
        width: 74.53%;
        table {
            border: none;
            thead {
                height: 77px;
                box-sizing: border-box;
                background-color: $header-top-background;
                tr {
                    border: none;
                    th {
                        padding-left: 31px;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
            tbody {
                tr {
                    height: 142px;
                    td {
                        a {
                            display: block;
                            height: 100%!important;
                            width: auto;
                            img {
                                display: block;
                                height: 90px;
                                width: 90px;
                                border: 1px solid $header-top-background;
                                box-sizing: border-box;
                                margin-right: 0;
                            }
                        }
                    }
                }
                .product-thumbnail {
                    padding-left: 31px;
                    width: 90px;
                }
                .product-name {
                    width: 30.775%;
                }
                .product-price {
                    width: 15%;
                }
                .product-quantity {
                    width: 20%;
                    .product-quantity-outer {
                        display: flex;
                        height: 50px;
                        width: 152px;
                        box-sizing: border-box;
                        border: 1px solid $header-top-background;
                        border-radius: 25px;
                        overflow: hidden;
                        justify-content: space-between;
                        input {
                            border: none;
                            height: 50px;
                            box-sizing: border-box;

                            text-align: center;
                            font-size: 20px;
                            &:focus {
                                outline: none;
                                text-align: center;
                                font-size: 20px;
                            }
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        input[type=number] {
                            -moz-appearance: textfield;
                        }
                        .simple-qty {
                            height: 50px;
                            border: none;
                            box-sizing: border-box;
                            width: 75px;
                        }
                        .btn-l {
                            height: 50px;
                            border: none;
                            background-color: white;
                            width: 25px;
                            box-sizing: border-box;
                            padding-left: 16px;
                            color: $button-border-color;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .btn-r {
                            height: 50px;
                            border: none;
                            background-color: white;
                            width: 25px;
                            box-sizing: border-box;
                            padding-right: 22px;
                            color: $button-border-color;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .product-subtotal {
                    width: 15%;
                }
            }
        }
    }
    .cart-right {
        width: 23.651%;
        .cart-collaterals {
            .cart_totals {
                width: 100%;
            }
        }
    }
}

