$color-main: #E83528;
$header-top-background: #F5F5F5;
$header-menu-bg-color: #333333;
$white-color: #FFFFFF;
$border-search-color: #E2DFDC;
$product-code-color: #A7A7A7;
$yellow-price-color: #F1C300;
$text-footer-color: #707070;
$button-border-color: #E3E3E3;
$breadcrumbs-color: #BCBCBC;